.dashboard .content-add-new-car{
  margin-left: 310px;
  margin-top: 80px;
}

.dashboard .list-add-new-car{
    height: 132vh;
}
.dashboard .list-item-add-new-car{
    height: 124vh;
}
.add-car {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.card-form::-webkit-scrollbar{
  display: none;
}

.form .label-form {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
}

.form .input-form {
  border: 1px solid #d0d0d0;
  border-radius: 2px;
}

.form .input-form::placeholder {
  font-weight: 300;
  font-size: 12px;
  color: #8a8a8a;
}

.form select{
  font-weight: 300;
  font-size: 12px;
  color: #8a8a8a;
}

.form .uploader .uploader__widget-base .uploader__widget-base__children .btn{
  background-color: #0d28a6;
  border: 0;
  font-size: 14px;
    
}
.form .uploader .uploader__widget-base .uploader__widget-base__children p{
  font-weight: 300;
  font-size: 12px;
  color: #8a8a8a;
    
}

.btn .cancel {
  border: 1px solid #0d28a6;
  background-color: #fff;
  border-radius: 2px;
  color: #0d28a6;
  font-weight: 700;
  font-size: 14px;
  height: 36px;

}

.btn .cancel:hover{
  background-color:#0d28a6;
  color: #fff;
}

.btn .save {
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  background-color: #0d28a6;
}

.btn .save:hover{
  background-color: rgb(115, 154, 245);
}
