.dashboard {
  background-color: #f4f5f7;
  height: 100%;
}

.dashboard .main-menu {
  width: 70px;
  height: 100vh;
  background-color: #0d28a6;
  margin-top: -62px;
  z-index: 1;
}

.dashboard .main-menu-rectangle {
  width: 34px;
  height: 34px;
  background-color: #cfd4ed;
}

.dashboard .home {
  padding-top: 12px;
  padding-bottom: 1px;
}
.dashboard p {
  font-size: 12px;
}

.dashboard .car {
  background: rgba(255, 255, 255, 0.3);
  padding-top: 12px;
  padding-bottom: 1px;
}

.dashboard .side-bar {
  width: 220px;
  height: 92vh;
}

.dashboard .side-bar h3 {
  color: #8a8a8a;
  font-weight: 700;
  font-size: 14px;
  margin-top: 34px;
  margin-left: 24px;
}

.dashboard .side-bar p {
  background-color: #cfd4ed;
  margin-top: 28px;
  padding-left: 24px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-weight: bold;
  font-size: 14px;
}

.content-list-car{
  margin-left: 310px;
  margin-top: 68px;
}

.btn-category .active {
  background-color: #cfd4ed;
  border-color: #0d28a6;
  color: #0d28a6;
  height: 36px;
}
.btn-category .non-active {
  background-color: #fff;
  border-color: #aeb7e1;
  color: #aeb7e1;
  height: 36px;
}

.btn-category .non-active:hover {
  background-color: #cfd4ed;
  color: #0d28a6;
  border-color: #0d28a6;
}

.btn-add-new-car {
  background-color: #0d28a6;
  height: 36px;
  border-radius: 2px;
  color: #fff;
}
.btn-add-new-car:hover {
  background-color: rgb(115, 154, 245);
}

.list-car {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.img-car {
  margin-top: 55px;
}

.btn-delete {
  color: #fa2c5a;
  border: 1px solid #fa2c5a;
}

.btn-edit {
  background-color: #5cb85f;
}
.card-list::-webkit-scrollbar {
  display: none;
}
