* {
  font-family: Helvetica, sans-serif;
}

.jumbotron {
  position: relative;
  z-index: -2;
}

.jumbotron {
  background-color: #f1f3ff;
  min-height: 580px;
  margin-top: -76px;
}

.jumbotron .container-jumbotron .title-jumbotron {
  margin-top: 220px;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}
.jumbotron .container-jumbotron .desc-jumbotron {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-top: 16px;
}

.jumbotron .container-jumbotron .bg-blue {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 704px;
  min-height: 243px;
}
.jumbotron .container-jumbotron .img-car {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 704px;
  min-height: 407px;
}

#our-service {
  margin-top: 104px;
}

.our-service .desc-service h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 24px;
}

.our-service .desc-service .main-desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}

.our-service .desc-service .desc-list {
  font-weight: 300;
  font-size: 14px;
}

.why-us-header {
  margin-top: 104px !important;
}

.why-us-header h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.why-us-header p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.why-us-header .why-title {
  margin-bottom: -20px;
}

.why-us-header .why-us-content {
  margin-top: 40px;
}

.why-us-header .why-us-content .why-us-card {
  border: 1px solid #d0d0d0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 24px;
  width: 292px;
  height: 196px;
  margin-top: 10px;
}

.why-us-header .why-us-content .why-us-card img {
  width: 32px;
  height: 32px;
}

.why-us-header .why-us-content .why-us-card h3 {
  margin: 16px 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.why-us-header .why-us-content .why-us-card p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.chart{
  margin-top: 104px;
}
.chart h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.title-testy {
  margin-top: 104px !important;
  margin-bottom: 40px;
}

.title-testy h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.title-testy p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.owl-carousel .item-testy {
  background: #f1f3ff;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 619px;
  height: 270px;
  padding: 69px 32px;
}

.owl-carousel .item-testy .pic-testy img {
  width: 80px;
  height: 80px;
}

.owl-carousel .item-testy .desc-testy img {
  width: 80px;
  height: 16px;
}

.owl-carousel .item-testy .desc-testy p {
  margin: 8px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.owl-carousel .owl-nav .owl-next {
  margin: 24px 0 0 24px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #5cb85f !important;
}

.owl-carousel .owl-nav .owl-next:hover {
  background-color: #135e14 !important;
}

.owl-carousel .owl-nav .owl-prev {
  margin: 24px 0 0 24px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #ffffff !important;
  border: 1px solid #c4c4c4 !important;
}

.owl-carousel .owl-nav .owl-prev:hover {
  background-color: #c7c7c7 !important;
}

.content-blue-desc {
  background-color: #0d28a6;
  width: 1298px;
  height: 326px;
  margin-top: 156px !important;
  border-radius: 13px;
}

.content-blue-desc h1 {
  margin-top: 64px;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #fff;
}

.content-blue-desc p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-top: 16px;
  color: #fff;
}

.content-blue-desc .btn-mulai-sewa {
  background-color: #5cb85f;
  color: #fff;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 2px;
  margin-top: 52px;
}

.content-blue-desc .btn-mulai-sewa:hover {
  background-color: #135e14 !important;
}

.faq {
  margin-top: 104px !important;
}

.faq-title h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.faq-title p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.faq-content {
  width: 668px;
}

.faq-content .accordion {
  border: 1px solid #d4d4d4 !important;
  border-radius: 4px;
}

.faq-content .question p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

.footer {
  margin-top: 150px !important;
}

.footer .addres,
.footer .navigation,
.footer .copyright {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.footer .addres img,
.footer .navigation img,
.footer .copyright img {
  width: 100px;
}

.footer .sosmed p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.footer .sosmed .icon-sosmed img {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}
