.invoice-header {
  height: 164px;
  background-color: #f1f3ff;
}

.download-invoice{
  border-color: #0D28A6;
  color: #0D28A6;
  background-color: #fff;
}

.download-invoice:hover{
  background-color: #e5e9fc;
}
