.navbar-dashboard {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

.navbar-dashboard .input-group .input-group-text{
    background-color: transparent;
}

.navbar-dashboard .btn-search {
  border: 1px solid #0d28a6;
  border-radius: 2px;
  color: #0d28a6;
 
}
.navbar-dashboard .btn-search:hover {
  background-color: #1b3cd0 !important;
  border-radius: 2px;
  color: #fff;
}
