.navbar{
  background-color: #f1f3ff;
}

.navbar .nav-link {
  font-weight: 400;
  font-size: 14px;
}

.navbar .btn-register{
    background-color: #5CB85F;
}
.navbar .btn-register:hover{
    background-color: #86d789;
}