.form h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.form .label,
.form p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.form .input {
  height: 38px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.form .input::placeholder {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #a5a5a5;
}

.form .btn-sign-up {
  height: 36px;
  background-color: #0d28a6;
  border-radius: 2px;
  font-weight: 700;
}
