
.left-bar .main-menu {
  width: 70px;
  height: 100vh;
  background-color: #0d28a6;
  margin-top: 0px;
  z-index: 1;
}

.left-bar .main-menu-rectangle {
  width: 34px;
  height: 34px;
  background-color: #cfd4ed;
}

.left-bar .home {
  padding-top: 12px;
  padding-bottom: 1px;
}
.left-bar p {
  font-size: 12px;
}

.left-bar .active-state {
  background: rgba(255, 255, 255, 0.3);
  padding-top: 12px;
  padding-bottom: 1px;
}
.left-bar .nonActive-state {
  background: transparent;
  background-color: #0d28a6;
  padding-top: 12px;
  padding-bottom: 1px;
}

.left-bar .side-bar {
  width: 220px;
  margin-top: 60px;
}

.left-bar .side-bar h3 {
  color: #8a8a8a;
  font-weight: 700;
  font-size: 14px;
  margin-top: 34px;
  margin-left: 24px;
}

.left-bar .side-bar p {
  background-color: #cfd4ed;
  margin-top: 28px;
  padding-left: 24px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-weight: bold;
  font-size: 14px;
}
